<p id="notice"><%= notice %></p>

<p>
  <b>Cancha:</b>
  <%= @reserva.cancha %>
</p>

<p>
  <b>Fdesde:</b>
  <%= @reserva.fdesde %>
</p>

<p>
  <b>Fhasta:</b>
  <%= @reserva.fhasta %>
</p>

<p>
  <b>Players:</b>
  <%= @reserva.players %>
</p>


<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
